.yumeLabsMainHeading {
  padding: 90px 9.5% 50px 9.5%;
  margin-top: 50px;
  overflow-x: clip;
}

.topSectionGrid {
  filter: brightness(0.1);
  height: 0;
  position: relative;
  z-index: 0;
  top: -60px;
  left: -206px;
}

.topSectionGrid img {
  height: 306px;
  transform: scale(0.96, 1.5);
  overflow-x: hidden;
}

.topSectionGridTwo {
  display: none;
}

.yumeLabsMainHeading > .yumeLabsMainHeadingLeft {
  max-width: 70%;
}

.yumeLabsMainHeading > .yumeLabsMainHeadingRight {
  max-width: 50%;
}

.yumeLabsMainHeadingLeft h1 {
  margin-bottom: 19px;
  font-size: 54px;
  font-weight: 900;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
  margin-left: -3px;
}

.yumeLabsMainHeadingLeft span {
  max-width: 18%;
  display: block;
  background-color: rgb(12, 12, 161);
  color: white;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 23px;
  font-weight: 600;
  margin-top: -24px;
  margin-bottom: 30px;
}

.yumeLabsMainHeadingRight p {
  font-size: 18px;
  color: #555555;
  max-width: 85%;
  margin-top: 25px;
  font-family: "Roboto";
}

.webViewHide {
  display: none;
}

@media screen and (max-width: 768px) {
  .yumeLabsMainHeading {
    flex-direction: column;
    row-gap: 50px;
    position: relative;
    overflow: hidden;
  }

  .yumeLabsMainHeading > .yumeLabsMainHeadingLeft {
    max-width: 100%;
  }

  .yumeLabsMainHeading > div {
    flex: 100%;
  }

  .yumeLabsMainHeadingLeft h1 {
    // max-width: 60%;
    font-size: 36px;
    margin-top: -8px;
    line-height: 57px;
    margin-bottom: 50px;
  }

  .topSectionGrid {
    top: -89px;
  }

  .topSectionGrid img {
    transform: scale(0.96, 1);
  }

  .topSectionGridTwo {
    display: block;
    filter: brightness(0.1);
    height: 0;
    position: relative;
    z-index: 0;
    top: 86px;
    left: -206px;
  }

  .topSectionGridTwo img {
    height: 306px;
    transform: scale(0.96, 1);
  }

  .yumeLabsMainHeading > .yumeLabsMainHeadingRight {
    max-width: 100%;
  }

  .yumeLabsMainHeadingLeft span {
    max-width: 50%;
  }

  .yumeLabsMainHeadingRight p {
    max-width: 85%;
  }

  .background-gradient {
    top: 100px;
    right: -338px;
    transform: rotate(-362deg);
    width: 780px;
    height: 248px;
  }

  .webViewHide {
    display: block;
  }
  .mobileViewHide {
    display: none;
  }
}
