.engagementModels {
  padding: 0px 9.5%;
  margin-top: 80px;
}

.engagementModels h1 {
  font-size: 43px;
  line-height: 60px;
  color: #272727;
  max-width: 375px;
  margin-bottom: 50px;
}

.retainePrices {
  display: flex;
  flex-direction: row;
  column-gap: 16.5px;
}

.engagementModelsBlock {
  flex-basis: 50%;
  height: 500px;
  padding-left: 72px;
  padding-bottom: 70px;
  background-color: #f7f7f7;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.engagementModelsBlock h3 {
  font-size: 33px;
  line-height: 34px;
  color: #0b1226;
  max-width: 140px;
  margin-bottom: 20px;
}

.engagementModelsBlock p {
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
  font-family: "Roboto";
  letter-spacing: 0.5px;
  color: #696969;
  opacity: 0.7;
  max-width: 310px;
}

@media screen and (max-width: 768px) {
  .engagementModels h1 {
    font-size: 33px;
    line-height: 50px;
    color: #272727;
    max-width: 375px;
    margin-bottom: 50px;
  }
  
  .retainePrices {
    display: flex;
    flex-direction: column;
    row-gap: 16.5px;
  }

  .engagementModelsBlock {
    height: 400px;
    padding-left: 45px;
    padding-top: 150px;
  }

  .engagementModelsBlock h3 {
    font-size: 26px;
    line-height: 30px;
  }
  
  .engagementModelsBlock p {
    font-size: 17px;
    letter-spacing: 0.5px;
    color: #696969;
    opacity: 0.7;
    max-width: 254px;
  }

  .engagementModelsBlock span{
    display: none;
  }
}