.articleSectionContainer {
  display: flex;
  flex-direction: row;
  padding: 0px 9.5%;
  margin-top: 45px;
  margin-bottom: 45px;
  gap: 12%;
}

.articleSectionLeft {
  flex-basis: 40%;
}

.articleSectionRight {
  flex-basis: 60%;
}

.articleSectionRight p {
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: bold;
  font-family: Roboto;
  color: #7b7b7b;
}

.articleSectionLeft h2 {
  font-size: 35px;
  max-width: 300px;
  font-family: Poppins;
}

.articleSectionRight h4 {
  margin-bottom: 11px;
  font-size: 1.5rem;
  font-family: Roboto;
}

.designSystemMobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .articleSectionContainer {
    display: flex;
    flex-direction: column;
  }

  .articleSectionLeft h2 {
    font-size: 34px;
    margin-bottom: 28px;
    line-height: 40px;
    margin-top: 50px;
  }

  .articleSectionLeft {
    flex-basis: 40%;
  }

  .articleSectionRight {
    margin-top: 0;
    flex-basis: 60%;
  }

  .articleSectionRight h4 {
    max-width: 70rem;
    font-size: 1.4rem;
  }

  .articleSectionRight p {
    font-size: 0.9rem;
    line-height: 20px;
  }

  .designSystem {
    display: none;
  }
  .designSystemMobile{
    display: block;
  }
}
