html {
  box-sizing: border-box;
  --webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: inherit;
  color: inherit;
}

input {
  border: unset;
}

button {
  border: unset;
  background-color: unset;
}

:root {
  --container-max-width: 1440px;
}
