// Primary Colors
$white: #ffffff;
$white-primary: #f5f5f5;
$lightBlue-white: #F4F8FF;
$black: #000000;
$blue-primary: #253f9c;
$blue-secondary: #0a66ec;
$blue-light: #e7e7fc;
$gray-primary: #555555;
$gray-PriLight: #696969;
$gray-secondary: #707070;
$gray-light: #7b7b7b;
$gray-extraLight: #f7f7f7;
$lightBlue-black: #2f3750;
$pink-primary: #f46997;
$pink-lighter: #ffeaf1;

